.modal {
    top: 0;
    left: 0;
	max-width: 100%;
    height: 100%;
    position: fixed;
    
    opacity: 0;	
    visibility: hidden;
}

.modal:target {
    opacity: 1;
    visibility: visible;
}


.modal_content {
    background: #FFF;
    position: absolute;
    width: 98vw;
    height: 95%;
    top: 5%;
    left: 0;
    z-index: 20;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    overflow-y: auto;
    border-radius: 0;
    padding: 2vh 1vw;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}

.modal_header, .modal_footer {
    height: 50px;
}

.modal_content .modal_footer {
    margin-bottom: 30px;
    float: right;
}

.modal_body{
    max-height: 80%; 
    max-height: calc(80%-100px);
}

.modal .overlay {
    background: #122024;
    opacity: .8;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 15;
}

/* Close Button */
#close_button {
    display: block;
    width: 20px;
    right: 0px;
    float: right;
    margin: 3px;
}
.close-x {
  stroke: #b8bdbd;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 5;
}

@media screen and (min-aspect-ratio: 16/10) { 
	.modal_content{
        position: fixed;
        width: 68%;
        max-height: 80%;
        border-radius: 5px;
        margin: 5% 16% 5% 16%;
       padding: 15px;
	}
    
    .modal {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }
}