body {
  background: #0d1b1e;
}

h1.subtle {
    color: #bfbfbf;
    font-size: 1em;
}

.background{
   background:url(../images/main_bg.jpg) no-repeat;
   position: fixed;
   opacity: 0.1;
}

/* NAVs */

/*Main nav*/

#logo_mobile {
    display: block;
    height: 4vh;
    margin: .5vh 2vw;
}

#main-nav{
	position: fixed;
	left: 0;
	top: 0;
	height: 5vh;
	width: 100%;
	background: #fff;
	box-shadow: 0 4px 8px -8px #8c9a9d;
	z-index: 1;
}

#main-nav ul, #sidenav_options {
	list-style: none;
	margin: 14px 0;
	display: none;
}

#main-nav a{
	display: inline-block;
	margin: 0 10px;
	float: right;
}

/*Side nav*/
#sidenav {
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 5vh;
  left: 0;
  overflow-x: hidden;
  font-family: 'open sans';
  height: 100%;
  background: #0d1b1ee6;
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
  z-index: 100;
}

#sidenav .logo{
  display: none;
}

#sidenav_options {
	display: block;
    position: absolute;
    bottom: 3%;
    text-align: center;
    width: 100%;
    max-width: 100%;

}

#sidenav_options li object {
	background-color: #d3e5e9;
	-webkit-mask-image: url(images/logout_icon.svg);
	mask-image: url(images/logout_icon.svg);
}

#sidenav #sidenav_options a {
    display: inline-block;
    margin: 15px;
}

#sidenav ul {
    list-style: none;
    padding: 0;
}

#sidenav ul li{
  padding: 3vh 0;
  font-size: 3vw;

}

/* The navigation menu links */
#sidenav a {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #8C9A9D;
}

/* When you mouse over the navigation links, change their color */
#sidenav a:hover, #sidenav a.active:hover {
  background: #FFF3;
  color: #FFF;
}

#sidenav a.active{
  background: #0003;
  color: #FFF;
}

#sidenav li object {
	background: #fff;
}

#sidenav #settings {
    -webkit-mask: url(images/settings_icon.svg);
    mask-image: url(images/settings_icon.svg);
}

#sidenav #logout {
	-webkit-mask: url(images/logout_icon.svg);
    mask-image: url(images/logout_icon.svg);
}


 nav a:hover .icon path {
	fill: #f63;
}

nav object.icon {
	width: 22px;
	height: auto;
}

nav a:hover svg.icon{
	fill: #f63;
}
 /*END OF NAVS*/


/* SIDEBAR TOGGLE MENU */
.translate0{
	transform: translateX(0)!important;
}

body.sidenavopen {
    overflow: hidden;
}

#openSidebarMenu {
    display: none;
}

#openSidebarMenu, .sidebarIconToggle, .spinner, .horizontal, .diagonal.part-1, .diagonal.part-2, 
#openSidebarMenu:checked ~ .sidebarIconToggle > .horizontal, 
#openSidebarMenu:checked ~ .sidebarIconToggle > .diagonal.part-1,
#openSidebarMenu:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
}

.sidebarIconToggle, .spinner {
    position: absolute;
    width: 100%;
}

.sidebarIconToggle {
    z-index: 99;
    top: 1.25vh;
    right: 1vh;
    height: 2.5vh;
    width: 3vh;
    display: inline-block;
}
.spinner {
    height: .5vh;
    background-color: #0e5e84;
    cursor: pointer;
}

.toggle_sign{
	height: 22px;
	width: 22px;
	border: 2px solid #1524254d;
	border-radius: 50%;
	transition: all 0.3s;
    box-sizing: border-box;
}

.horizontal, .diagonal.part-1, .diagonal.part-2 {
    position: relative;
    float: right;
    border-radius: 10px;
}

.horizontal, .diagonal.part-2 {
    margin-top: .5vh;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transform: rotate(-135deg);
    margin-top: -1.45vh;
}

[type="checkbox"], [type="radio"] {
    height: 1.4vh;
    width: 1.4vh;
}

/* END OF SIDEBAR TOGGLE MENU*/



/*BUTTONS*/

button {
	background: #1e9cd7;
	color: #fff;
	border: none;
	border-radius: 10px;
	font-size: 2.8vw;
	padding: .5em;	
}

button.small {
	padding-bottom: 2px 6px;
	font-size: .7em;
}

button:hover{
	background: #0e5e84;
	cursor: pointer;
}

.decision_buttons{
	display: block;
	width: 100%;
	max-width: 100%;
	margin: 15px 0;
	color: #7d7d7d;
}

.decision_buttons button {
	float: right;
    margin-left: 1em;

}

label, .decision_buttons label {
	font-size: 3vw;
	cursor: pointer;
}

/*END OF BUTTONS*/

.content{
	position: absolute;
	top: 5vh;
	left: 0;
	width: 100%;
	min-height: 100%;
	min-height: calc(100% - 40px);
	background: #F6F6F6;
}

.elements {
	margin: 4%;
	margin-bottom: 6%;
}

.item {
  font-family: 'open sans';
  margin: 15px 10px;
  padding: 2px 8px;
}

.item p {
    font-size: 2.8vw;
    font-weight: 800;
    display: inline-block;
}

input, .item input{
	border: none;
	border: 1px solid #bdbdbd;
	color: #afafaf;
	padding: .5em 1%;
	border-radius: 5px;
}

.item input[type="text"] {
    display: block;
    width: 98%;
    font-size: 1.9vh;
    line-height: 1.5;
}

.item textarea {
    display: block;
    border: 1px solid #f6f6f6;
    border-radius: 10px;
    padding: 1.5vw;
    min-width: calc(100% - 3vw);
    max-width: calc(100% - 3vw);
    max-height: 10vh;
    min-height: 10vh;
    font-size: 3.2vw;
    color: #5d5d5d;
}

.radios{
	margin-left: 18px;
    color: #454545;
    font-size: 0.7em;
}

.item .radios {
    margin-bottom: 20px;
    color: #679a8b88;
    font-size: 0.75em;
    font-weight: 800;
    display: inline-block;
}

.radio-inline {
   cursor: pointer;
   margin: 0 5px;
}

.radio-inline input {
	margin-right: 5px;
}



table {
	width: 100%;
	max-width: 100%;
	background: #fff;
	border-radius: 10px;
	color: #5B5B5B;
}

table tr:nth-child(even){
	background: #fbfbfb;
}

table td {
	cursor: pointer;
	width: 100%;
	height: 40px;
	padding: .075 rem;
	vertical-align: middle;
}

table employee_pic {
	background-size: 40px;
	background-color: #ccc;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

/*
#feedback_accordion a {
	text-decoration: none;
}

#feedback_accordion article{
	display: none;
}

#feedback_accordion article:target {
	display: block;
}

.toggle_sign .sign_component{
	display: block;
	width: 16px;
	height: 16px;
	background: url(images/plus.svg);
} 
.sign_component.horizontal{
	background: url(images/minus.svg);
}

a:active .toggle_sign .vertical {
	display: none;
}
*/
.wrapper{
	background: #fff;
	border-radius: 10px;
	padding: 25px;	
}

.wrapper_header {
    padding-bottom: 1em;
    box-shadow: 0 2px 8px -8px #8c9a9d;
    margin-bottom: .5em;
}

.wrapper_header button {
	background: #7d7d7d;
	font-weight: 800;
	font-size: .85em;
}

.wrapper_header button:hover {
	background: #717171;
}

.wrapper_tags {
	box-shadow: 0 2px 8px -8px #8c9a9d;
	padding-bottom: .5em;
	margin-bottom: .5em;
}

.search_tag {
	padding: .6em;
	background: #29bbff;
	color: #fff;
	font-size: .8em;
	border-radius: 50px;
	display: inline-block;
}

.search_tag:after{
	content: '\00d7';
	float: right;
	margin-left: .6em;
}

#feedback_accordion a{
	text-decoration: none;
	background: #bcd3cc4d;
	display: block;
	padding-left: 15px;
	height: 35px;
	margin-bottom: 1%;
}

#feedback_accordion a h2{
	height: 30px;
}

#feedback_accordion article radios {
	margin-left: 18px;
}

#feedback_accordion .item .radios div{
	display: inline;
}

#feedback_accordion #name{
	margin: 0;
	margin-bottom: 3%;
}

.collapsible {
	background-color: #f6f6f6;
	color: #464646;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	outline: none;
	font-size: 4vw;
	font-weight: 700;
	border-bottom: .5px solid #d4d4d4;
	border-radius: 0;
}

.collapsible:hover, .collapsible:active, .collapsible:hover:active{
	background: #5555552e;
}

.content_collapsible {
	padding: 2% 0;
	width: 100%;
	overflow: hidden;
	background-color: #f6f6f680;
	display: none;
}

.content_collapsible:last-of-type {
    border-radius: 0 0 10px 10px;
}

button.collapsible:first-of-type {
    border-radius: 10px 10px 0 0;
    margin-top: 2%;
}

button.collapsible:last-of-type {
    border-radius: 0 0 10px 10px;
    border: none;
}

button.collapsible:last-of-type.active {
    border-radius: 0;
}

button.collapsible:after {
	content: "\02795";
	font-size: 3vw;
	color: white;
	float: left;
	margin-right: 10px;
}

button.collapsible.active:after {
	content: "\2796";
}

.search_bar, #reports_search_bar{
	font-size: .9em;
}

.search_bar button {
	border-radius: 0 5px 5px 0;
	padding: 0.655em 1em;
    margin-left: -5px;
    outline: 0;
}

#reports_search_bar{
	border-radius: 5px 0 0 5px;
}

@media screen and (min-aspect-ratio: 16/10) { 
	#main-nav {
		position: absolute;
		top: 0;
		left: 16%;
		height: 50px;
		width: 84%;
		box-shadow: 0 4px 8px -8px #8c9a9d;
 	}

 	#main-nav ul{
 		display: block;
 	}

 	#sidenav_options{
 		display: none;
 	}

 	#logo_mobile, .sidebarIconToggle {
 		display: none;
 	}

	#sidenav {
		transform: unset;
		top: 0;
		width: 16%;
		max-width: 16%;
		box-shadow: inset -15px 0 20px -15px #000205;
		background: transparent;
	}

 	#sidenav .logo{
		height: 40px;
		margin: 30px auto 30px auto;
		display: block;
	}

	.content{
		top: 50px;
		left: 16%;
		width: 84%;
		min-height: 100%;
		min-height: calc(100% - 50px);
	}

	.wrapper_header button {
		float: right;
		margin: 0;
	}

	.item input[type="text"]{
		width: 30%;
	}

	.item input[type="text"]{
	font-size: 1em;
	}

	.item p {
    font-size: .7em;
	}

	.item textarea {
		font-size: 15px;
	}

	.search_bar button{
		float: none;
	}

	button {
		padding: 6px 12px;
		font-size: 20px;
	}

	.item textarea {
	    padding: .5em;
	    min-width: 99%;
	    max-width: 99%;
	    max-height: 200px;
	}

	label, .decision_buttons label {
	    font-size: .8em;
	}

	.collapsible, button.collapsible:after {
		font-size: .9em;
	}

	#sidenav ul li {
    	padding: 15px 0px 15px 0px;
    	font-size: 14px;
	}

}